$dark: (
  base-bg: #030712,
  second-bg: #111827,
  third-bg: #1f2937,

  base-color: #e5e7eb,
  second-color: #f9fafb,
  third-color: #9ca3af,

  base-border: #374151,
  second-border: #4b5563,
  third-border: #6b7280,

  primary: #3b82f6,
  primary-bg: #172554,
  primary-border: #1e40af,
  primary-text-emphasis: #60a5fa,

  danger: #ef4444,
  danger-bg: #450a0a,
  danger-border: #991b1b,
  danger-text-emphasis: #f87171,

  success: #22c55e,
  success-bg: #052e16,
  success-border: #166534,
  success-text-emphasis: #4ade80,

  warning: #eab308,
  warning-bg: #422006,
  warning-border: #854d0e,
  warning-text-emphasis: #facc15,

  info: #0ea5e9,
  info-bg: #172554,
  info-border: #075985,
  info-text-emphasis: #38bdf8,

  base-shadow: '0 1px 2px rgba(0, 0, 0, 0.4)',
  second-shadow: '0 4px 6px rgba(0, 0, 0, 0.5)',

  base-text-shadow: '0 1px 1px rgba(0, 0, 0, 0.3)',
  second-text-shadow: '0 2px 2px rgba(0, 0, 0, 0.35)',
) !default;
