{{ $rawTitle := cond (ne .Title "") .Title .Text }}
{{ $target := $rawTitle | lower | urlize }}
{{ $parts := split $target "#" }}
{{ $pagePath := index $parts 0 }}
{{ $anchor := "" }}
{{ if gt (len $parts) 1 }}
  {{ $anchor = printf "#%s" (index $parts 1) }}
{{ end }}
{{ $page := or (.Page.Site.GetPage $pagePath) (.Page.Site.GetPage (printf "/%s" $pagePath)) }}

{{ if $page }}
  <a class="link link--internal" href="{{ $page.RelPermalink }}{{ $anchor }}">
    {{ .Text | safeHTML }}
    {{ partial "components/icon" (dict "name" "folder-symlink") }}
  </a>
{{ else }}
  {{ $aliasPage := "" }}
  {{ range .Page.Site.Pages }}
    {{ if in .Aliases $target }}
      {{ $aliasPage = . }}
      {{ break }}
    {{ end }}
  {{ end }}

  {{ if $aliasPage }}
    <a class="link link--internal" href="{{ $aliasPage.RelPermalink }}{{ $anchor }}">
      {{ .Text | safeHTML }}
      {{ partial "components/icon" (dict "name" "folder-symlink") }}
    </a>
  {{ else }}
    {{ partial "hooks/link-broken.html" . }}
  {{ end }}
{{ end }}
