// @forward 'theme';
// @forward 'base';
// @forward 'layouts';
// @forward 'components';
// @forward 'pages';
// @forward 'responsive';

.icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
  vertical-align: middle;
}
