@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.sidebar {
  @include m.custom-scrollbar(var(--base-border), var(--primary));
  @include m.width-height(100%, 100dvh);
  position: fixed;
  inset-block-start: 5rem;
  padding-block-end: 10rem;
  padding-block-start: 0.5rem;
  padding-inline: 1rem;
  background-color: var(--second-bg);
  overflow-y: auto;
  display: none;
  z-index: 50;

  &--isOpen {
    display: block;
  }

  &__switcher {
    @include m.flex-justify(space-between, center);
    gap: 1rem;
    padding: 1rem 0.5rem;
    border-block: 1px solid var(--base-border);
  }

  .social {
    gap: 1rem;
    padding: 1rem 0.5rem;
    border-block-start: 1px solid var(--base-border);
  }
}

.menu {
  padding: 0.75rem;
  margin: 1.5rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--base-border);
  box-shadow: var(--base-shadow);
  background-color: var(--base-bg);

  &__link {
    @include m.flex-justify(start, center);
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
    margin-block: 0.25rem;
    color: var(--second-color);
    text-shadow: var(--base-text-shadow);
    font-weight: 600;

    &--isActive,
    &--isAncestor {
      text-shadow: var(--second-text-shadow);
      box-shadow: var(--base-shadow);
      background-color: var(--second-bg);
      border-radius: 0.5rem;
    }
  }
}

.tree {
  padding-inline: 0.5rem;
  margin-block-end: 2rem;

  &__toggle {
    @include m.flex-justify(space-between, center);
    width: 100%;
    color: var(--second-color);
    margin-block: 0.5rem;
    font-weight: 600;
  }

  &__list {
    padding-inline-start: 1rem;
    margin-inline-start: 0.5rem;
    border-inline-start: 1px solid var(--base-border);
    display: none;

    &--isOpen {
      display: block;
    }
  }

  &__item {
    margin-block: 0.5rem;
  }

  &__link {
    @include m.text-ellipsis;
    display: block;
    padding: 0.2rem 0.5rem;
    color: var(--third-color);

    &--isActive {
      color: var(--cl-white);
      border-radius: 0.25rem;
    }
  }
}

#TableOfContents {
  ul ul {
    border-inline-start: 1px solid var(--base-border);
    padding-inline-start: 1rem;
    margin-inline-start: 0.5rem;
  }

  li {
    margin-block: 0.5rem;
  }

  a {
    @include m.text-ellipsis;
    display: block;
    padding: 0.25rem 0rem;
    color: var(--third-color);
    border-block-end: 1px dashed transparent;

    &.isActive {
      color: var(--primary);
      border-block-end-color: var(--primary-border);
    }
  }
}
