<style>
  @font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('{{- "assets/fonts/noto-sans-v39-latin-regular.woff2" | relURL -}}') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    src: url('{{- "assets/fonts/noto-sans-v39-latin-600.woff2" | relURL -}}') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: url('{{- "assets/fonts/noto-sans-v39-latin-700.woff2" | relURL -}}') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Noto Sans Mono';
    font-style: normal;
    font-weight: 400;
    src: url('{{- "assets/fonts/noto-sans-mono-v32-latin-regular.woff2" | relURL -}}')
      format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Noto Sans Mono';
    font-style: normal;
    font-weight: 700;
    src: url('{{- "assets/fonts/noto-sans-mono-v32-latin-700.woff2" | relURL -}}') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Noto Color Emoji';
    font-style: normal;
    font-weight: 400;
    src: url('{{- "assets/fonts/noto-color-emoji-v35-emoji-regular.woff2" | relURL -}}')
      format('woff2');
  }
</style>
