{{ with .GitInfo }}
  <div class="widget">
    <strong class="widget__title">History</strong>
    <nav class="git-history">
      <ul class="git-history__list">
        {{ $allCommits := slice . | append .Ancestors }}
        {{ range $allCommits }}
          <li class="git-history__item">
            <a
              href="{{ site.Params.ghrepo }}/blob/{{ .Hash }}/content/{{ $.Page.File.Path }}"
              target="_blank"
              rel="noopener noreferrer"
              class="git-history__link"
            >
              <span class="git-history__date"
                >{{ .CommitDate.Format "2006-01-02" }}</span
              >
              <span class="git-history__subject">{{ .Subject }}</span>
            </a>
          </li>
        {{ end }}
      </ul>
    </nav>
  </div>
{{ end }}