{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ partial "layouts/markdown" . }}
  {{ if in (slice "section" "taxonomy" "term") .Kind }}
    <ul class="multi-column-list">
      {{ range .Pages }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </li>
      {{ end }}
    </ul>
  {{ else }}

    {{ if .Params.edit_page | default site.Params.defaultEditPage | default false }}
      {{ partial "components/edit_page" . }}
    {{ end }}
  {{ end }}

  {{ partial "components/pager" . }}
{{ end }}
