<footer class="footer">
  {{ if .Params.giscus | default site.Params.defaultGiscus | default true }}
    {{ partial "components/giscus" . }}
  {{ end }}
  {{ partial "components/copyright" . }}
</footer>

{{- if .Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
  </script>
{{- end }}

{{- if .Param "math" | default site.Params.defaultMath | default false }}
  <script>
    MathJax = {
      tex: {
        displayMath: [['\\[', '\\]'], ['$$', '$$']],  // block
        inlineMath: [['\\(', '\\)']]                  // inline
      },
      loader:{
        load: ['ui/safe']
      },
    };
  </script>
{{- end }}
