<header class="header">
  <nav class="navbar">
    {{ partial "components/brand" . }}

    <button data-dialog="searchBar" class="navbar__search-btn">
      {{ partial "components/icon" (dict "name" "search" ) }}
      <span>{{ T "SearchThroughSiteContent" }}</span>
    </button>
  </nav>

  <nav class="navbar">
    {{ partial "components/social_media" . }}
    {{ partial "components/theme_list" . }}
    {{ partial "components/i18n_list" . }}
  </nav>
</header>

{{ partial "components/search" . }}
