@use "../abstracts/variables" as v;
.badge {
  display: inline-flex;
  gap: 0.2rem;
  border-radius: 9999rem;
  padding: 0.5rem 0.75rem;
  font-size: v.$fs-sm;
  box-shadow: var(--base-shadow);
  background-color: var(--third-bg);
  color: var(--cl-white);
  font-weight: 600;

  &:hover {
    background-color: var(--primary-bg);
  }
}
