#linkpreview {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  max-height: 400px;
  overflow: scroll;
  z-index: 999999999;
  border: 1px solid var(--base-border);
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: var(--base-shadow);
  background-color: var(--second-bg);
}