@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.switch-lang {
  display: flex;
  align-items: center;

  &__select {
    background-color: var(--second-bg);
    padding: 0.5rem 1rem;
    outline: none;
  }
}