<header class="header">
  <nav class="header__left-col">
    <a href="{{ site.BaseURL | relLangURL }}" class="brand">
      {{ with site.Params.logo }}
        <img src="{{ . | relURL }}" alt="{{ site.Title }}" class="brand__logo"/>
      {{ else }}
        <span class="brand__emoji">{{ site.Params.emoji }}</span>
      {{ end }}
      <span class="brand__title">{{ site.Title }}</span>
    </a>

    <div class="header__nav-buttons">
      <button class="header__btn header__btn--open-search">
        {{ partial "components/icon" (dict "name" "search" ) }}
        <span>Search content...</span>
      </button>
      <button data-sidebar="sidebarLeft" class="header__btn header__btn--open-left-side">
        {{ partial "components/icon" (dict "name" "list" ) }}
      </button>
      <button data-sidebar="sidebarRight" class="header__btn header__btn--open-right-side">
        {{ partial "components/icon" (dict "name" "book" ) }}
      </button>
    </div>
  </nav>

  <nav class="header__right-col">
    {{ partial "components/social_media" . }}
    {{ partial "components/switch_theme" . }}
    {{ partial "components/i18n_list" . }}
  </nav>
</header>
