@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

footer {
  padding: 5rem 1rem;
  width: 100%;
}

.copyright {
  @include m.flex-justify(center, center);
  flex-direction: column;
  padding-block: 4rem;
}

.credit {
  margin-block: 1rem;
  
  &__link {
    color: var(--primary);
    font-weight: 600;

    &:hover {
      color: var(--primary-text-emphasis);
    }
  }
}