$light: (
  base-bg: #fafafa,
  second-bg: #f4f4f5,
  third-bg: #e4e4e7,

  base-color: #1f2937,
  second-color: #030712,
  third-color: #9ca3af,

  base-border: #d4d4d8,
  second-border: #a1a1aa,
  third-border: #71717a,

  primary: #3b82f6,
  primary-bg: #1e40af,
  primary-border: #93c5fd,
  primary-text-emphasis: #2563eb,

  danger: #ef4444,
  danger-bg: #fef2f2,
  danger-border: #fca5a5,
  danger-text-emphasis: #dc2626,

  success: #22c55e,
  success-bg: #f0fdf4,
  success-border: #86efac,
  success-text-emphasis: #16a34a,

  warning: #eab308,
  warning-bg: #fefce8,
  warning-border: #fde047,
  warning-text-emphasis: #ca8a04,

  info: #0ea5e9,
  info-bg: #f0f9ff,
  info-border: #7dd3fc,
  info-text-emphasis: #0284c7,

  base-shadow: '0 1px 3px rgba(0, 0, 0, 0.08)',
  second-shadow: '0 4px 6px rgba(0, 0, 0, 0.12)',

  base-text-shadow: '0 1px 1px rgba(0, 0, 0, 0.05)',
  second-text-shadow: '0 2px 2px rgba(0, 0, 0, 0.1)',
) !default;
