$light: (
  base-bg: #fafafa,
  second-bg: #f4f4f5,
  third-bg: #e4e4e7,

  base-color: #1f2937,
  second-color: #030712,
  third-color: #9ca3af,

  base-border: #d4d4d8,
  second-border: #a1a1aa,
  third-border: #71717a,

  primary: #3b82f6,
  primary-bg: #1e40af,
  primary-border: #172554,
  primary-text-emphasis: #2563eb,

  danger: #ef4444,
  danger-bg: #991b1b,
  danger-border: #450a0a,
  danger-text-emphasis: #dc2626,

  success: #22c55e,
  success-bg: #166534,
  success-border: #052e16,
  success-text-emphasis: #16a34a,

  warning: #eab308,
  warning-bg: #854d0e,
  warning-border: #422006,
  warning-text-emphasis: #ca8a04,

  info: #0ea5e9,
  info-bg: #075985,
  info-border: #082f49,
  info-text-emphasis: #0284c7,

  base-shadow: "0 1px 3px rgba(0, 0, 0, 0.08)",
  second-shadow: "0 4px 6px rgba(0, 0, 0, 0.12)",

  base-text-shadow: "0 1px 1px rgba(0, 0, 0, 0.05)",
  second-text-shadow: "0 2px 2px rgba(0, 0, 0, 0.1)",
) !default;
